Favorites
Intel
Music
Pictures
Saved Games
Searches
Videos
Contacts
Desktop
AppData
Downloads
Links
*ntuser*
sync-windows
AppData
Application Data
Cookies
Local Settings
My Documents
NetHood
PrintHood
Recent
SendTo
Start Menu
Templates
