[submodule "AppData/Local/nvim"]
  path = AppData/Local/nvim
  url = https://github.com/DivitMittal/Nvim-Cfg
[submodule "AppData/Roaming/TLTR"]
	path = AppData/Roaming/TLTR
	url = https://github.com/DivitMittal/TLTR
